form {
    position: absolute;
    left: 40%;
    top: 25%;
    margin-right: 350px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}
.form-container {
    height: 100vh;
    padding-top: 65px;
    background: aqua;
}
label.ant-form-item-required {
    width: 85px;
}


input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50; 
    color: white; 
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; 
}